/* App css stylesheet */

body {
  padding-top: 20px;
}

*{
	margin: 0;
	padding: 0;
}

table{
 	display: table;
 	width: 100%; 
 	background: #fff;
 	margin: 0;
 	box-sizing: border-box;
}

thead{
 	background: #4CAF50;
 	color: #fff;
}

tr:nth-child(odd){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}


#Links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#Links li {
    float: left;
}

#Links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

button{
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position: absolute;
    left: 100px;
}

#Teams {
	width: 100%;
	padding: 30px 0;
}
#Teams {
	width: 1200px;
	margin: 0 auto;
}

#Teams ul{
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}

#Teams li{
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 30.83%;
}

#Teams li img{
	position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

#Teams li h3{
	margin: 0 0 5px;
}

#Teams p{
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
